
<h1>Orders</h1>


<table>
  <tr>
    <th>Order ID</th>
    <th>Date</th>
    <th>User ID</th>
    <th>Amount</th>
    <th> </th>
  </tr>


<% @orders.each do |order| %>

  <tr>
    <td><%= link_to order.id, order_url(order.id) %></td>
  	<td><%= order.date %></td> 
  	<td><%= order.user_id %></td> 
  	<td><%= number_to_currency(order.total_amount) %></td>
    <td><%= link_to "Delete Order", order_url(order.id), :method => :delete %></td>

  </tr>	

<% end %>

</table>

