
<h1>Order</h1>

<div class=details>


<h2><%= @user.name %></h2>

<% @total = 0 %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>


<% @cart.products.uniq.each do |product| %>

  <% quantity = @cart.products.where(id: product.id).count %>

  <tr>
    <td><%= link_to product.name, "/products/#{product.id}" %></td>
    <td><%= product.description %></td> 
    <td><%= number_to_currency(product.price/100.00) %></td> 
    <td><%= quantity %></td>  
  </tr> 
  <% @total = @total += (quantity * product.price) %>

<% end %>

</table>

<br>
<p><b>Total: <%= number_to_currency(@total/100.00) %></b></p>


<div class=container3>

  <%= render 'form' %>
  
  </div>

</div>








