<div class=details>

<h2>My Cart</h2>

<%= link_to "Empty Cart", cart_url(@cart.id), :method => :delete %>
<br>

<% total = 0 %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>




<% @cart.products.uniq.each do |product| %>

  <% quantity = @cart.products.where(id: product.id).count %>

  <%# product = Product.find_by_id(id) %>

  <tr>
  	<td><%= link_to product.name, "/products/#{product.id}" %></td>
  	<td><%= product.description %></td> 
  	<td><%= number_to_currency(product.price) %></td> 
  	<td><%= quantity %></td> 	
  </tr>	
  <% total = total += quantity * product.price %>

<% end %>

</table>
<br>
<p><b>Total: <%= number_to_currency(total) %></b></p>

</div>