<h1>Players</h1>


<div class="players_page">

<% if session["user_id"].present? %>
  <% current_user = User.find_by(id: session["user_id"]) %>
  <% if current_user.admin %>
    <h3>
    <%= link_to "Add Player", new_player_path %>
    </h3>
   <% end %>
 <% end %>

 </div>



<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Position</th>
    <th><Height/th>
    <th>Weight</th>
    <th>Age</th>
    <th>Birth Place</th>
  </tr>


<% @players.each do |player| %>

  <tr>
  	<td><%= player.number %></td> 
  	<td><%= link_to player.name, "/players/#{player.id}" %></td>
  	<td><%= player.position %></td> 
  	<td><%= player.height %></td> 
  	<td><%= player.weight %></td> 
  	<td><%= player.age %></td> 
  	<td><%= player.birthplace %></td>
  </tr>	

<% end %>

</table>






