
<div class="details">

<h2>
  <%= @product.name %>
  <small>
    <%= link_to "Edit This Product", edit_product_path(@product.id) %>
    <%= link_to "Delete This Product", product_path(@product.id), :method => :delete %>
  </small>
</h2>

<!-- <div class="details"> -->

  <p><%= image_tag @product.image_url, class: 'pull-left' %></p>
  <p><%= link_to "Add to Cart", cart_path, :method => :patch, class: 'pull-right' %></p>

  <p><strong>Price:</strong> <%= number_to_currency(@product.price/100) %></p>
  <p><strong>Description:</strong> <%= @product.description %></p>


  <h4>Add a Review</h4>

  <%= form_tag "/reviews", :method => :post do %>
    
    <!-- <input type="hidden" name="movie_id" value="<%#= @product.id %>"> -->
    <%= hidden_field_tag :product_id, @product.id %>
    
    <br>
    <%= text_area_tag :body, '', rows: 4, cols: 50 %>
    <br>
    <%= submit_tag "Add Review" %>
  <% end %>


  <div class=reviews>

  <h3>Reviews</h3>

  <ul>
    <% @product.reviews.each do |review| %>

      <li><%= review.body %></li>

    <% end %>
  </ul>

  </div>

  </div>





